homeassistant:
  # Name of the location where Home Assistant is running
  name: !secret homeassistant_name
  # Location required to calculate the time the sun rises and sets
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 37
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  # Remove legacy if possible
  auth_providers:
   - type: homeassistant
   #- type: legacy_api_password

  time_zone: !secret homeassistant_time_zome
  customize: !include_dir_merge_named includes/customize
  # customize_domain:
  #   automation:
  #     initial_state: 'on'
  # customize_glob:
  #   "sensor.*":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "sensor.*_battery_level":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "sensor.*_battery_state":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "sensor.synology_*":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "binary_sensor.*":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "group.*":
  #     emulated_hue_hidden: true
  #     homebridge_hidden: true
  #     haaska_hidden: true
  #   "lights.*":
  #     emulated_hue_hidden: false
  #     homebridge_hidden: false
  #     haaska_hidden: false

  packages: !include_dir_named packages

http:
  # Uncomment this to add a password (recommended!)
  #api_password: !secret http_password
  server_host: !secret http_serverhost
  # Uncomment this if you are using SSL or running in Docker etc


############################################################
#
# Components
#
############################################################


#
timer:
  timer_laundry:
    duration: '00:05:00'
  timer_garage:
    duration: '00:15:00'
  timer_engineheater:
    duration: '00:45:00'
  timer_exterior:
    duration: '00:05:00'

system_health:

default_config:

person:

#custom_updater:

panel_custom: !include panels/panel_custom.yaml

# xiaomi_aqara:
#   discovery_retry: 5
#   gateways:
#     - key: 4D3CF1BDCCF54C04

# Enables the frontend
frontend:
  #Support fro the new Java UI
#  javascript_version: latest
  themes: !include_dir_merge_named themes

# Enables configuration UI
config:

# Checks for available updates
updater:
  include_used_components: true

# Discover some devices automatically
#discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:
# Enables support for tracking state changes over time.

history:
# View all events in a logbook

logbook:
# Logging all events in the home-assistant.log
logger:
#   default: critical
#   logs:
#     homeassistant.components: info
#     homeassistant.components.automation: debug
#    homeassistant.components.binary_sensor.rfxtrx: debug
  default: info
  # logs:
  #   pydeconz: debug
  #   homeassistant.components.deconz: debug

recorder:
  purge_keep_days: 5
#  db_url: sqlite:///home/user/.homeassistant/test
  # include:
  #   entities:
  #     - sensor.dinner_room_luminance
  #     - sensor.yr_temperature
  #     - sensor.cellar_temperature
  #     - sensor.dinner_room_temperature
  #     - sensor.freezer_temperature
  #     - sensor.fridge_temperature
  #     - sensor.speedtest_download
  #     - sensor.speedtest_upload

# External logging database
influxdb:
  host: !secret influxdb_host
  include:
    entities:
      - sensor.cellar_humidity
      - sensor.cellar_temperature
      - sensor.dinner_room_luminance
      - sensor.dinner_room_relative_humidity
      - sensor.dinner_room_temperature
      - sensor.exterior_porch_humidity
      - sensor.exterior_porch_pressure
      - sensor.exterior_porch_temperature
      - sensor.freezer_temperature
      - sensor.fridge_temperature
      - sensor.main_room_humidity
      - sensor.main_room_pressure
      - sensor.main_room_temperature
      - sensor.yr_humidity
      - sensor.yr_temperature

# Track the sun
sun:
#Shelly platform
shelly:

# Text to speech
tts:
  - platform: google_translate

# Rfx Com 433 device
rfxtrx:  !include includes/rfxtrx.yaml
  # device: /dev/ttyUSB0
# z-wave Aeon Stick
zwave:
  usb_path: /dev/ttyACM0
#  new_entity_ids: true

mqtt:
  broker: !secret mqtt_broker
  client_id: hass
  username: !secret mqtt_username
  password: !secret mqtt_password
  discovery: true
  discovery_prefix: homeassistant
  birth_message:
    topic: 'hass/status'
    payload: 'online'
    qos: 1
    retain: true
  will_message:
    topic: 'hass/status'
    payload: 'offline'
    qos: 1
    retain: true

google:
  client_id: !secret google_client_id
  client_secret: !secret google_client_secret

# dcz:
#   ws_url: !secret dcz_ws_url
#   api_key: !secret dcz_api_key
#   host: !secret dcz_host

deconz:
  host: !secret dcz_host
  api_key: !secret dcz_api_key
  port: 80


alexa:

cloud: !include includes/alexa.yaml

#yeelight: !include includes/yeelight.yaml

# emulated_hue:
#   host_ip: !secret emulated_hue_host
#   expose_by_default: false
  # exposed_domains:
  #   - group
  #   - switch
  #   - input_boolean

## Spotify integration
# spotify:
#   client_id: !secret spotify_id
#   client_secret: !secret spotify_secret
# Coffey Table Jazz
# spotify:user:spotify:playlist:37i9dQZF1DWVqfgj8NZEp1
# Digster Soft Jazz
# spotify:perese:digster.se:playlist:33YLYbQcmFT7Qv7NrNVIDo
# New Music Friday
# spotify:user:spotify:playlist:37i9dQZF1DXcecv7ESbOPu
# Girl PWR
# spotify:user:spotify:playlist:37i9dQZF1DX3JcVtdd4I4E
# https://open.spotify.com/playlist/7jvC4zj4QPYtEi1dpJ0m94

#------------------------------------------------------

###########################################################
#
# Includes
#
############################################################

# single Files

#group: !include includes/groups.yaml
device_tracker: !include includes/device_trackers.yaml
switch: !include includes/switches.yaml
#input_select: !include includes/input_select.yaml
media_player: !include includes/media_players.yaml
apple_tv: !include includes/apple_tv.yaml
input_boolean: !include includes/input_boolean.yaml
scene: !include scenes.yaml
binary_sensor: !include includes/binary_sensors.yaml

# Merge List
automation: !include automations.yaml
automation old: !include_dir_merge_list includes/automation
sensor: !include_dir_merge_list includes/sensor
light: !include_dir_merge_list includes/light

#Merge named
#script: !include scripts.yaml
#script old: !include_dir_merge_named includes/scripts
script: !include_dir_merge_named includes/scripts
group: !include_dir_merge_named includes/groups

#------------------------------------------------------
